.info {
  width: 100%;
  height: 13.6875rem;
  background-color: #6ed05d;
}
.info__text {
  max-width: 48rem;
  margin: auto;
  padding: 20px 0;
}
.info__text h1 {
  margin: 0;

  font-size: 2rem;
  line-height: 3.2rem;
}
.info__text p {
  margin: 0.5rem 0 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .info {
    height: 18.375rem;
  }
  .info__text {
    padding: 1.5rem 1rem 0;
  }
  .info__text h1 {
    font-size: 2rem;
  }
  .info__text p {
    font-size: 1rem;
  }
}
