.notice {
  max-width: 48rem;
  margin: auto;
}
.notice__title {
  font-size: 1.625rem;
  margin: 3.75rem 0 2.5rem;
  line-height: 1.5;
}
.notice__container {
  justify-content: space-between;
  flex-wrap: wrap; /* 플렉스 아이템이 여러줄로도 배치될 수 있게끔!*/
}
.notice__item {
  padding: 1.25rem 0;
  flex-basis: 48%; /* flex item의 초기값을 결정 */
}
.notice__thumb {
  min-width: 6.75rem;
  min-height: 6.75rem;
  background-color: #7bbc70;
  border-radius: 1.25rem;
}
.notice__content {
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  .notice {
    padding: 0 1rem 1.25rem;
  }
  .notice__title {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 2.5rem 0 1.5rem;
  }
  .notice__container {
    display: block;
  }
}
